/*Main Styles*/
body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1020px;
    background-color: #444;
    background-image: url("black_lozenge.png");
    background-repeat: repeat;
    background-position: top left;
}

#content {
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 4px #000;
    border-radius: 8px;
}

h1 { 
    text-align: center;
    font: normal 2.75em 'PT Serif', "Times New Roman", serif;
    margin-bottom: 0px;
    padding-top: 13px;
}

h2 {
    font: 1.375em "Times New Roman", serif;
    text-align: center;
    text-shadow: 1px 1px 0.5px;
}

h3 {
    font-family: "Arial", sans-serif;
    line-height: 50px;
}

p {
    line-height: 26px;
    font-family: "Arial", sans-serif;
}

a {
    font-family: "Arial", sans-serif;
    text-decoration: none;
}

a:link {
    color: #00f;
}

a:visited {
    color: #0b0080;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: #772233;
}

img {
    width: 100%;
}


/*Header Styles*/
figure {
    margin: 0 0 15px 0;
}


/*Nav Styles*/
#nav {
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 18px;
}

#nav li {
    display: inline-block;
    padding: 0 20px;
    font-size: 1.25em;
    list-style-type: none;
}

#topLink {
    line-height: 20px;
    height: 50px;
}

/*Game Modes Styles*/
#gameModes {
    overflow: hidden;
}

#gameModes li {
    font-family: "Arial", sans-serif;
    list-style-type: none;
    background-image: url(League-of-legends-image-league-of-legends-36343337-256-256_clipped_rev_4.png);
    background-repeat: no-repeat;
    background-size: 45px;
    background-position: top left;
    padding-top: 11px;
}

strong {
    font-style: italic;
    padding-left: 55px;
    line-height: 30px;
}

#mode1 {
    width: 45%;
    float: left;
    padding-right: 9%;
}

#mode2 {
    width: 45%;
    float: left;
}

#mode3 {
    width: 45%;
    float: left;
    padding-right: 9%;
}

#mode4 {
    width: 45%;
    float: left;
}

/*Champions Styles*/
#championsDiv {
    clear: both;
    padding-bottom: 10px;
    overflow: hidden;
}

.champions {
    float: left;
    font-size: 0.875em;
    text-align: center;
    width: 90px;
    margin: 0 5px 10px 5px;
}

.championsImg {
    width: 100%;
}

/*Summoner Spells Styles*/
table, th, td {
    border: 1px solid #111;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}

tr:hover {
    background-color: #777;
}

#summonerSpellsTable {
    width: 100%;
    margin: 35px 0 50px 0;
    font-size: 1em;
    font-family: "Arial", sans-serif;
}

.tableHeading {
    text-transform: uppercase;
    text-align: left;
}

.backFill {
    background-color: #ccc;
}

/*Form Styles*/
#contactUs {
    margin-bottom: 50px;
    overflow: hidden;
}

.title {
    float: left;
    width: 100%;
    font-size: 1em;
    font-family: "Arial", sans-serif;
    text-align: left;
}

input {
    margin-left: 10px;
    border: 1px solid #999;
}

select {
    margin-left: 10px;
    border: 1px solid #999;
}

textarea {
    border: 1px solid #999;
}

input[type="submit"] {
    margin-left: 0px;
    border: 1px solid #999;
    background-color: #ddd;
}

input:hover {
    background-color: #eee;
}

select:hover {
    background-color: #eee;
}

textarea:hover {
    background-color: #eee;
}

input[type="submit"]:hover {
    background-color: #ccc;
}

input:focus {
    background-color: #eee;
}

select:focus {
    background-color: #eee;
}

textarea:focus {
    background-color: #eee;
}

input[type="submit"]:focus {
    background-color: #ccc;
}

/*Resources Styles*/
#resourcesDiv {
    font-family: "Arial", sans-serif;
    line-height: 26px;
    width: 265px;
    height: 110px;
    padding: 7px 0 0 10px;
    background-color: #222;
    box-shadow: 0px 0px 5px 3px #000;
    border-radius: 4px;
    background: -webkit-linear-gradient(left top, #333 , #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, #333, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, #333, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, #333, #444);
    color: #eee;
    opacity: 0.9;
}
